/*-------ESTILOS BASE---------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

body {
  font-family: 'Lato', sans-serif;
  background-color: #000;
  color: #f1faee; }

h1 {
  color: #FFFFFF; }

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: #000;
  height: max-content;
  width: 100%; }
  header .navbar {
    background-color: #000 !important;
    width: 100% !important; }
    header .navbar .container {
      width: 100vw !important;
      margin: 0;
      padding: 0; }
      header .navbar .container .logo {
        display: flex;
        align-items: center;
        margin-left: 5vw;
        width: -moz-fit-content;
        width: fit-content;
        height: 9vh !important; }
        header .navbar .container .logo .imgLogo {
          height: 9vh; }
      header .navbar .container .navCollapse .ulNavBarra {
        background-color: #000; }
        header .navbar .container .navCollapse .ulNavBarra .liNav {
          display: flex; }
          header .navbar .container .navCollapse .ulNavBarra .liNav .aLinkNavBar {
            color: #f1faee;
            font-weight: bold;
            font-size: 1.2rem;
            width: 100%; }
  header .navbar-dark .navbar-toggler {
    color: #f1faee !important;
    border-color: #f1faee !important;
    margin-right: 20px; }
  header .aLinkNavBar:hover {
    color: #DAB400 !important; }

.containerCursos .Cursos .boxDescriptionCourses .bottomCourses .buttonCourses, .containerForm .classForm .inputBtn, .bottom .btnCourses {
  background-color: #DAB400;
  border: none;
  border-radius: 5px;
  width: fit-content; }

.bannerCursos, .bannerInstructors, .bannerContact {
  width: 100%;
  margin-top: 15vh; }

.sectionIndex .imagesSectionIndex .divImgInstructorIndex .linkPage, .sectionIndex .imagesSectionIndex .divImgStudents .linkPage {
  text-decoration: underline;
  text-decoration-color: #DAB400;
  font-size: 1.8rem;
  font-weight: 900;
  color: #FFF; }

.txtCourses #titleCourses, .boxMain .boxTitleInstructors .titleInstructors, .titleForm, .titleWorks, main .aboutUs .titleAboutUS {
  font-size: 3rem;
  font-weight: 900; }

/*----------ESTILOS CURSOS-----------*/
.txtCourses {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  text-align: center; }
  .txtCourses #titleCourses {
    display: flex;
    margin-bottom: 20px; }

.subTitleCourses {
  display: flex;
  width: 50%;
  text-align: center; }

.containerCursos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15vh;
  margin-bottom: 15vh; }
  .containerCursos .Cursos {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin: 20px;
    padding: 25px;
    background-color: #242424;
    border-top: solid;
    border-left: solid;
    border-color: #5e5e5e;
    border-width: 1px;
    transition: all .2s ease-in-out; }
    .containerCursos .Cursos .nameCourses {
      text-decoration: underline;
      text-decoration-color: #DAB400;
      font-size: 1.4rem; }
    .containerCursos .Cursos .boxDescriptionCourses {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left; }
      .containerCursos .Cursos .boxDescriptionCourses .descriptionCourses {
        margin-top: 10px; }
      .containerCursos .Cursos .boxDescriptionCourses .bottomCourses {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        justify-content: flex-start;
        width: 100%;
        font-weight: bold; }
        .containerCursos .Cursos .boxDescriptionCourses .bottomCourses .buttonCourses {
          width: -moz-fit-content;
          margin-left: 20%;
          padding: 10px; }
          .containerCursos .Cursos .boxDescriptionCourses .bottomCourses .buttonCourses .moreInfo {
            justify-content: center;
            color: black;
            font-weight: 800;
            margin: 5px; }
        .containerCursos .Cursos .boxDescriptionCourses .bottomCourses .buttonCourses:hover {
          background-color: #000; }
          .containerCursos .Cursos .boxDescriptionCourses .bottomCourses .buttonCourses:hover .moreInfo {
            color: #DAB400; }
  .containerCursos .Cursos:hover {
    transform: scale(1.1); }

/*----------ESTILO FOOTER---------*/
footer {
  background-color: #000;
  color: #f1faee;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: flex-end;
  margin: 0px; }
  footer .footerText {
    display: flex;
    align-items: center;
    margin-left: 5vw;
    margin-right: 25; }
  footer .footerLogos {
    display: flex;
    width: 50vw;
    justify-content: flex-end;
    margin-right: 5vw;
    margin-left: 30vw; }
  footer .logos {
    height: 30px;
    width: 30px;
    margin-left: 10px; }

/*--------ESTILOS INSTRUCTORS----------*/
.boxMain {
  width: 50%;
  color: #f1faee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh; }
  .boxMain .boxTitleInstructors {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 5vh; }
    .boxMain .boxTitleInstructors .subTitlteInstructor {
      width: 50%; }
  .boxMain .instructorContainer {
    display: grid;
    color: #f1faee;
    border-top: solid;
    border-width: 1px;
    border-color: #f1faee;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-bottom: 5vh;
    grid-template-columns: 20vw  35vw;
    grid-template-rows: 10vh  20vh 5vh;
    grid-column-gap: 4vh;
    grid-template-areas: "txtNameInstructors imagenInstructor" "txtInstructors imagenInstructor" "port imagenInstructor"; }
    .boxMain .instructorContainer .portfolio {
      grid: port;
      justify-content: flex-end;
      color: #f1faee;
      text-decoration: underline;
      text-decoration-color: #DAB400;
      padding-top: 20px;
      padding-left: 10px; }
    .boxMain .instructorContainer .nameInstructors {
      grid-area: txtNameInstructors;
      font-size: 1.5rem;
      padding-left: 10px; }
    .boxMain .instructorContainer .textInstructors {
      grid-area: txtInstructors;
      padding-left: 10px;
      font-size: 1.1rem; }
    .boxMain .instructorContainer .imgInstructor {
      grid-area: imagenInstructor;
      width: 100%;
      padding-top: 2vh; }

/*--------------ESTILOS------------*/
.titleForm {
  text-align: center;
  margin-top: 15vh;
  border-bottom: solid;
  border-color: black;
  border-width: 1px; }

.boxTxtForm {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .boxTxtForm .txtForm {
    font-size: 1.5rem;
    text-align: center;
    width: 70%;
    margin-top: 2vh; }

.containerForm {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  margin-bottom: 20vh;
  width: 100%;
  padding-top: 5vh;
  color: #f1faee; }
  .containerForm .infoContact {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 15%; }
    .containerForm .infoContact .subContact {
      display: flex;
      flex-direction: row;
      margin-top: 15px; }
      .containerForm .infoContact .subContact .logosContact {
        width: 40px;
        height: 40px;
        margin-top: 10px; }
      .containerForm .infoContact .subContact .textLogoContact {
        margin-left: 10px; }
        .containerForm .infoContact .subContact .textLogoContact .textContactIconTitle {
          font-size: 1.3rem;
          font-weight: 900;
          margin: 0; }
        .containerForm .infoContact .subContact .textLogoContact .textContactIcon {
          font-size: 1.3rem; }
  .containerForm .classForm {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .containerForm .classForm .divInputs {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 5px; }
      .containerForm .classForm .divInputs .inputs {
        font-size: 1.5em;
        padding: 10px;
        width: 48%;
        border: solid;
        border-width: 1px;
        border-radius: 5px;
        margin-right: 2%; }
    .containerForm .classForm .textAreaContact {
      padding: 10px;
      width: 98%;
      border: solid;
      border-width: 1px;
      border-radius: 5px;
      margin-top: 10px; }
    .containerForm .classForm .inputBtn {
      font-size: 1.5em;
      font-weight: 900;
      margin-top: 15px;
      padding: 5px; }
    .containerForm .classForm .inputBtn:hover {
      background-color: #000;
      color: #DAB400;
      border: solid;
      border-color: #DAB400;
      border-width: 1px;
      border-radius: 3px; }

/*-------------ESTILOS WORKS-----------*/
.titleWorks {
  text-align: center; }

.textWorks {
  font-size: 2rem;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh; }

.containerBannerWorks {
  z-index: -1;
  margin-top: 20vh;
  width: 90%;
  position: relative;
  display: inline-block; }

.titleSpeedDrawing {
  text-align: center;
  margin-top: 15vh;
  font-size: 2rem; }

.containerVideos {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw; }
  .containerVideos .divVideo {
    margin: 3vw;
    background-color: #242424;
    border-top: solid;
    border-left: solid;
    border-color: #5e5e5e;
    border-width: 1px;
    width: 22vw;
    padding: 10px; }
    .containerVideos .divVideo iframe {
      width: 100%;
      height: 35vh; }

.sectionExperienceStudents {
  margin-top: 15vh;
  width: 90%;
  text-align: center; }
  .sectionExperienceStudents .titleExperience {
    margin-bottom: 5vh; }
  .sectionExperienceStudents .divExperiencieStudents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15vh; }
    .sectionExperienceStudents .divExperiencieStudents .student {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 20vw; }
      .sectionExperienceStudents .divExperiencieStudents .student .imgStudent {
        border-radius: 50%; }
      .sectionExperienceStudents .divExperiencieStudents .student .textStudent {
        padding: 25px; }

/*----------ESTILO INDEX----------*/
.bi-twitch {
  color: #f1faee; }

.contenedor {
  z-index: -1;
  margin-top: 10vh;
  position: relative;
  display: inline-block;
  text-align: center; }
  .contenedor .banner {
    width: 100%;
    height: auto; }
  .contenedor .tituloIndex {
    color: #f1faee;
    font-size: 3em;
    position: absolute;
    top: 15%;
    left: 30%;
    transform: translate(-50%, -50%); }
  .contenedor .tituloSubIndex {
    color: #f1faee;
    font-size: 3em;
    text-decoration: underline;
    text-decoration-color: #DAB400;
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%); }

main {
  display: flex;
  align-items: center;
  flex-direction: column; }
  main .aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh; }
    main .aboutUs .titleAboutUS {
      margin-bottom: 5vh; }
    main .aboutUs .descriptionAboutUs {
      width: 50%;
      font-size: 1.5rem;
      margin-bottom: 5vh;
      text-align: center; }
    main .aboutUs .imgAboutUs {
      width: 50%; }

.sectionIndex {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 10vh;
  margin-bottom: 15vh; }
  .sectionIndex .descriptionSectionIndex {
    text-align: center;
    margin-bottom: 5vh; }
    .sectionIndex .descriptionSectionIndex .TitleSectionIndex {
      font-size: 3rem;
      margin-bottom: 5vh; }
    .sectionIndex .descriptionSectionIndex .textSectionIndex {
      font-size: 1.5rem;
      width: 50%;
      margin-left: 25%; }
  .sectionIndex .imagesSectionIndex {
    display: flex;
    flex-direction: row;
    height: 40vh; }
    .sectionIndex .imagesSectionIndex .divImgInstructorIndex {
      background-image: url("../img/instructors.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .sectionIndex .imagesSectionIndex .divImgStudents {
      background-image: url("../img/students.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center; }

.companiesDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 15vh; }
  .companiesDiv .sectionCompanies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh; }
    .companiesDiv .sectionCompanies .titleCompanies {
      text-align: center;
      font-size: 2rem;
      font-weight: 900; }
    .companiesDiv .sectionCompanies .textCompanies {
      text-align: center;
      width: 50%;
      font-size: 1.2rem; }
  .companiesDiv .companiesImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5vh 5vw; }
    .companiesDiv .companiesImg .logoCompany {
      margin: 2vh 2vw; }

.bottom {
  background-image: url("../img/bannerBottom.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .bottom .btnCourses {
    width: -moz-fit-content;
    font-size: 1.5rem;
    padding: 10px;
    color: #000;
    font-weight: 900; }
  .bottom .btnCourses:hover {
    background-color: #000;
    color: #DAB400; }

/*------------ESTILOS RESPONSIVE----------*/
@media (max-width: 1920px) {
  .contenedor .tituloIndex {
    font-size: 8em; }
  .contenedor .tituloSubIndex {
    font-size: 8em;
    top: 35%; } }

@media (max-width: 1440px) {
  .contenedor .tituloIndex {
    font-size: 7em; }
  .contenedor .tituloSubIndex {
    font-size: 7em;
    top: 40%; } }

/*---------1024-------*/
@media (max-width: 1024px) {
  .contenedor .tituloIndex {
    font-size: 5em; }
  .contenedor .tituloSubIndex {
    font-size: 5em;
    top: 35%; }
  .infoContact {
    margin-left: 5%; }
  .boxMain {
    width: 80%; }
    .boxMain .instructorContainer {
      grid-template-columns: 25vw 40vw;
      grid-template-rows: 5vh 20vh 5vh; }
  .containerCursos .Cursos {
    width: 35vw; }
  .containerForm .infoContact {
    margin-left: 5%; }
  .sectionExperienceStudents .divExperiencieStudents .student {
    width: 35vw; }
  .containerVideos {
    width: 100vw; }
    .containerVideos .divVideo {
      width: 40vw; }
      .containerVideos .divVideo iframe {
        height: 35vh; } }

/*---------768-------*/
@media (max-width: 768px) {
  .contenedor .tituloIndex {
    font-size: 4em; }
  .contenedor .tituloSubIndex {
    font-size: 4em; }
  .containerForm {
    flex-direction: column; }
    .containerForm .infoContact {
      width: 100%;
      margin-left: 5%; }
    .containerForm .classForm {
      width: 90%;
      margin-left: 5%; }
  .containerCursos .Cursos {
    width: 40vw; }
  .sectionExperienceStudents .divExperiencieStudents .student {
    width: 40vw; }
  .imagesSectionIndex {
    height: 80vh !important; }
    .imagesSectionIndex .divImgInstructorIndex {
      height: 40vh; }
    .imagesSectionIndex .divImgStudents {
      height: 40vh; } }

/*--------550-------*/
@media only screen and (max-width: 550px) {
  .containerCursos .Cursos {
    width: 80vw; } }

/*---------425-------*/
@media (max-width: 425px) {
  .contenedor .tituloIndex {
    font-size: 3em;
    top: 33%;
    left: 40%; }
  .contenedor .tituloSubIndex {
    font-size: 3em;
    top: 65%;
    left: 40%; }
  .containerCursos .Cursos {
    width: 80vw; }
  .imagesSectionIndex {
    height: 40vh !important; }
    .imagesSectionIndex .divImgInstructorIndex {
      height: 24vh !important; }
    .imagesSectionIndex .divImgStudents {
      height: 24vh !important; } }

/*---------375-------*/
@media only screen and (max-width: 375px) {
  .contenedor .tituloSubIndex {
    top: 75%; }
  header .navBarra .divNavResponsive {
    margin-left: 13vw; }
  .companiesDiv .companiesImg .logoCompany {
    width: 120px; } }

/*---------320-------*/
@media only screen and (max-width: 320px) {
  .subTitleCourses {
    width: 90% !important; }
  header .navbar .container .logo {
    margin-left: 20px;
    width: 50%;
    height: auto; }
  header .navbar .container .ulNavBarra {
    margin-left: 10px; }
  .imagesSectionIndex {
    height: 35vh !important; }
    .imagesSectionIndex .divImgInstructorIndex {
      height: 24vh !important; }
    .imagesSectionIndex .divImgStudents {
      height: 24vh !important;
      padding-left: 10px;
      padding-right: 10px; } }

/*---------768-----AND-------320-------*/
@media only screen and (max-width: 768px) and (min-width: 320px) {
  /*---------INDEX-----------------*/
  header {
    height: max-content; }
    header .navbar .container .navCollapse .ulNavBarra .liNav {
      padding-left: 5vw; }
      header .navbar .container .navCollapse .ulNavBarra .liNav .aLinkNavBar {
        height: 5vh; }
  main .aboutUs {
    width: 100%;
    margin-top: 2vh; }
    main .aboutUs .descriptionAboutUs {
      width: 90%; }
    main .aboutUs .imgAboutUs {
      width: 100%; }
  main .sectionIndex {
    width: 100%; }
    main .sectionIndex .descriptionSectionIndex {
      text-align: center;
      margin-bottom: 5vh; }
      main .sectionIndex .descriptionSectionIndex .TitleSectionIndex {
        font-size: 2rem;
        margin-bottom: 2vh; }
      main .sectionIndex .descriptionSectionIndex .textSectionIndex {
        font-size: 1.2rem;
        text-align: center;
        width: 90%;
        margin-left: 5%; }
    main .sectionIndex .imagesSectionIndex {
      display: flex;
      flex-direction: column; }
      main .sectionIndex .imagesSectionIndex .divImgInstructorIndex {
        width: 100%; }
      main .sectionIndex .imagesSectionIndex .divImgStudents {
        width: 100%;
        text-align: center; }
  main .companiesDiv {
    width: 90%; }
    main .companiesDiv .sectionCompanies .titleCompanies {
      width: 100%;
      text-align: center;
      font-size: 2rem;
      font-weight: 900; }
    main .companiesDiv .sectionCompanies .textCompanies {
      text-align: center;
      width: 100%;
      font-size: 1.2rem; }
    main .companiesDiv .companiesImg {
      margin: 3vh 3vw; }
  main .txtCourses {
    margin-top: 5vh;
    width: 90%;
    text-align: center; }
    main .txtCourses #titleCourses {
      margin-bottom: 20px;
      font-size: 3rem; }
  main .subTitleCourses {
    width: 75%; }
  .moreInfo {
    text-align: justify; }
  /*-----------INSTRUCTORS-------------*/
  .boxMain {
    width: 90%;
    color: #f1faee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh; }
    .boxMain .subTitlteInstructor {
      width: 90%; }
    .boxMain .instructorContainer {
      display: flex;
      flex-direction: column;
      color: #f1faee;
      border-top: solid;
      border-width: 1px;
      border-color: #f1faee;
      padding-top: 5vh;
      width: 100%; }
    .boxMain .nameInstructors {
      margin: 20px 0 20px 0;
      font-size: 1.3rem;
      padding-right: 10px; }
    .boxMain .textInstructors {
      margin-bottom: 20px;
      padding-right: 10px; }
    .boxMain .portfolio {
      margin-bottom: 20px;
      text-decoration: none; }
  .boxTxtForm .txtForm {
    width: 90%; } }

/*--------426-----AND------320-------*/
@media only screen and (max-width: 426px) and (min-width: 320px) {
  /*----------CONTACT US-----------*/
  .containerForm {
    flex-direction: column; }
    .containerForm .classForm .divInputs {
      display: flex;
      flex-direction: column;
      width: 100%; }
      .containerForm .classForm .divInputs .inputs {
        width: 90%;
        margin-bottom: 20px; }
    .containerForm .classForm .textAreaContact {
      width: 90%; }
  .sectionExperienceStudents .divExperiencieStudents .student {
    width: 90vw; }
  .containerVideos {
    width: 100vw; }
    .containerVideos .divVideo {
      width: 90vw; }
      .containerVideos .divVideo iframe {
        height: 35vh; } }
