<<<<<<< HEAD
/*----------ESTILOS CURSOS-----------*/
=======
/*---------ESTILOS COURSES-------*/

>>>>>>> segundaRama
.bannerCursos{
   @extend %bannersGeneral;
}

.txtCourses{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    
    #titleCourses{
        display: flex;
        margin-bottom: 20px;
        font-size: 3rem;
        font-weight: 900;
    }
}
.subTitleCourses{
    display: flex;
    width: 50%;
    text-align: center;
}

.containerCursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15vh;
    margin-bottom: 15vh;
    
    .Cursos{
        display: flex;
        flex-direction: column;
        width: 350px;
        margin: 20px;
        padding: 25px;
        background-color:rgb(36, 36, 36);
      
        border-top: solid;
        border-left: solid;
        border-color: rgb(94, 94, 94);
        border-width: 1px;
         transition: all .2s ease-in-out;
         .nameCourses{
            text-decoration: underline;
            text-decoration-color: #DAB400;
         }
        .boxDescriptionCourses{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;

            .descriptionCourses{
                margin-top: 10px;
            }
            .bottomCourses{
                display: flex;
                flex-direction: row;
                margin-top: 20px;
                justify-content: flex-start;
                width: 100%;
                font-weight: bold;
                /*.duration{
                    text-decoration: underline;
                    text-decoration-color: #DAB400;
                }*/
                .buttonCourses{
                   /* background-color: #DAB400;
                    border: none;
                    border-radius: 5px;
                    margin-left: 20%;
                    width: fit-content;*/
                    @extend %buttonCoursesGeneral;
                    margin-left: 20%;
                        .moreInfo{
                            justify-content: center;
                            color: black;
                            font-weight: 800;
                            text-decoration: none;
                            margin: 5px
                        }
                        
                }
                .buttonCourses:hover{
                    background-color:#000;
                    .moreInfo{
                        color: #DAB400;
                    }
                }
   
            }

        }
        
    }
    .Cursos:hover{
        transform: scale(1.1);
    }
}


