
%buttonCoursesGeneral{
    background-color: #DAB400;
    border: none;
    border-radius: 5px;
    width: fit-content;
}
%bannersGeneral{
    width: 100%;
    margin-top: 15vh;

}
%linkPageIndex{
    text-decoration: underline;
    text-decoration-color: #DAB400 ;
    font-size: 1.8rem;
    font-weight: 900;
    color: #FFF;
   
}