/*------------ESTILOS RESPONSIVE----------*/

/*---------1024-------*/
@media (max-width: 1024px) {
    .infoContact{
        margin-left: 5%;
    }
    .boxMain{
        width: 80%;
        .instructorContainer{
            grid-template-columns: 25vw 40vw;
            grid-template-rows: 5vh 20vh 5vh;
        }
    }
    /*header{
        .navBarra{
            margin-left: 5vw;
        }
    }*/
    .containerCursos{
        
        .Cursos{
            width: 35vw;
        }
    }
    .containerForm{
        
        .infoContact{
        
            margin-left: 5%;
        }
    }  
    .sectionExperienceStudents{
        .divExperiencieStudents{
        
            .student{
                width: 35vw;
            }
        }
    }
    .containerVideos{
        width: 100vw;
        .divVideo{
         
            width: 40vw;
            iframe{
                height: 35vh;
            }
            
        }
     }
  }
  
/*---------768-------*/

@media (max-width: 768px) {
    .containerForm{
        flex-direction: column;
        .infoContact{
            width: 100%;
            margin-left: 5%;
        }
        .classForm{
            width: 90%;
            margin-left: 5%;
        }
      
    } 
    .containerCursos{
        
        .Cursos{
            width: 40vw;
        }
    }  

    .bannerInstructors{
        width: 125%;
    }
  
    .sectionExperienceStudents{
        .divExperiencieStudents{
        
            .student{
                width: 40vw;
            }
        }
    }
}

/*---------425-------*/

@media (max-width: 425px) {
    /*header{
        .navBarra{
            margin-left: 0px;
            .divNavResponsive{
               
                margin-left: 20vw;
            }
        }
    }*/
    .containerCursos{
        
        .Cursos{
            width: 80vw;
        }
    }
    .bannerInstructors{
        width: 150%;
    }
    .imagesSectionIndex{
        height: 48vh !important;
        .divImgInstructorIndex{
            height: 24vh !important;
        }
        .divImgStudents{
            height: 24vh !important;
        }
    }

}

/*---------375-------*/
@media only screen and (max-width: 375px){
    header{
        .navBarra{
            .divNavResponsive{
               
                margin-left: 13vw;
            }
        }
    }
}
/*---------320-------*/
@media only screen and (max-width: 320px){
    .subTitleCourses{
        width: 90% !important;
    }
    header {
        .navbar{
            .container{
                .logo{
                    margin-left: 0vw; 
                    width: 50%; 
                    height: auto;
                }
            }
        }
    } 
    .imagesSectionIndex{
        height: 48vh !important;
        .divImgInstructorIndex{
            height: 24vh !important;
        }
        .divImgStudents{
            height: 24vh !important;
        }
    }
}
/*---------768-----AND-------320-------*/

@media only screen and (max-width: 768px) and (min-width: 320px) {
    /*---------INDEX-----------------*/
    header {
        .navbar{
            .container{
                .logo{
                    margin-left: 2vw;  
                }
                .navCollapse{
                .ulNavBarra {
                    .liNav{
                        padding-left: 5vw;
                        .aLinkNavBar{
                            height: 5vh;
                            
                            }
                        } 
                    }
                }
            }
        }
    } 
    main{
        .aboutUs{
            width: 100%;
            margin-top: 2vh;
            .descriptionAboutUs{
                width: 90%;
            }
            .imgAboutUs{
                width: 100%;
            }
        }
        .sectionIndex{
            width: 100%;
            .descriptionSectionIndex{
                text-align: center;
                margin-bottom: 5vh;
                .TitleSectionIndex{
                    font-size: 2rem;
                    margin-bottom: 2vh;
                }
                .textSectionIndex{
                    font-size: 1.2rem;
                    text-align: center;
                    width: 90%;
                    margin-left: 5%;
                }
            }
            .imagesSectionIndex{
                display: flex;
                flex-direction: column;
                height: 50vh;
                .divImgInstructorIndex{
                    background-position: center; 
                    background-size: 100%;
                    width: 100%;
                    height: 25vh;
                }
                .divImgStudents{
                    background-position: center; 
                    background-size: 100%;
                    width: 100%;
                    height: 25vh;
                    text-align: center;
                }
            }

        }
        .companiesDiv{
            width: 90%;
            .sectionCompanies{
                .titleCompanies{
                    width: 100%;
                    text-align: center;
                    font-size: 2rem;
                    font-weight: 900;
                }
                .textCompanies{
                    text-align:center;
                    width: 100%;
                    font-size: 1.2rem;
                }
            }
            .companiesImg{
                margin: 3vh 3vw;
                .logoCompany{
                    margin: 1vh 1vw;
                }
            }
        }
        .txtCourses{
            margin-top: 5vh;
            width: 90%;
            text-align: center;
            #titleCourses{
                margin-bottom: 20px;
                font-size: 3rem;
            }
        }
        .subTitleCourses{
            width: 75%;
        }
    }
    
    .moreInfo{
        text-align:justify;
       
    }

    
/*-----------INSTRUCTORS-------------*/
    .boxMain{
        width: 90%;
        color: #f1faee;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
        .subTitlteInstructor{
            width: 90%;
        }
        .instructorContainer{
            display: flex;
            flex-direction: column;
            color: #f1faee;
            border-top: solid;
            border-width: 1px;
            border-color: #f1faee;
            padding-top: 5vh;
            width: 100%;
        }
        .nameInstructors{
            margin:20px 0 20px 0;
            font-size: 1.3rem;
            padding-right: 10px;
        }
        .textInstructors{
            margin-bottom: 20px;
            padding-right: 10px;
        }
        .portfolio{
            margin-bottom: 20px;
            text-decoration: none;
        }
    }
    

}
/*--------426-----AND------320-------*/

@media only screen and (max-width: 426px) and (min-width: 320px){
   
    /*----------CONTACT US-----------*/
    .containerForm{
        flex-direction: column;
    
        .classForm{
            .divInputs{
                display: flex;
                flex-direction: column;
                width: 100%;
                .inputs{
                    width: 90%;
                    margin-bottom: 20px;
                }
            }
            .textAreaContact{
                width: 90%;
            }
        }
        
    }   
   

    .containerCursos{
        
        .Cursos{
            width: 80vw;
        }
    }
    .sectionExperienceStudents{
        .divExperiencieStudents{
        
            .student{
                width: 90vw;
            }
        }
    }
    .containerVideos{
        width: 100vw;
        .divVideo{
         
            width: 90vw;
            iframe{
                height: 35vh;
            }
        }
     }
}
