/*------------ESTILOS RESPONSIVE----------*/

@media (max-width: 1920px) {
   
    .contenedor{
        .tituloIndex{
            font-size: 8em;
        }
        .tituloSubIndex{
            font-size: 8em;
            top: 35%;
            
        }
    }
}
@media (max-width: 1440px) {
    .contenedor{
        .tituloIndex{
            font-size: 7em;
        }
        .tituloSubIndex{
            font-size: 7em;
            top: 40%;
            
        }
    }
}
/*---------1024-------*/
@media (max-width: 1024px) {
    .contenedor{
        .tituloIndex{
            font-size: 5em;
        }
        .tituloSubIndex{
            font-size: 5em;
            top: 35%;
        }
    }
    
    .infoContact{
        margin-left: 5%;
    }
    .boxMain{
        width: 80%;
        .instructorContainer{
            grid-template-columns: 25vw 40vw;
            grid-template-rows: 5vh 20vh 5vh;
        }
    }
  
    .containerCursos{
        
        .Cursos{
            width: 35vw;
        }
    }
    .containerForm{
        
        .infoContact{
        
            margin-left: 5%;
        }
    }  
    .sectionExperienceStudents{
        .divExperiencieStudents{
        
            .student{
                width: 35vw;
            }
        }
    }
    .containerVideos{
        width: 100vw;
        .divVideo{
         
            width: 40vw;
            iframe{
                height: 35vh;
            }
            
        }
     }
  }
  
/*---------768-------*/

@media (max-width: 768px) {

    .contenedor{
        
        .tituloIndex{
            font-size: 4em;
        }
            
        .tituloSubIndex{
         font-size: 4em;
        
        }
    }

    .containerForm{
        flex-direction: column;
        .infoContact{
            width: 100%;
            margin-left: 5%;
        }
        .classForm{
            width: 90%;
            margin-left: 5%;
        }
      
    } 
    .containerCursos{
        
        .Cursos{
            width: 40vw;
        }
    }  

    .sectionExperienceStudents{
        .divExperiencieStudents{
            .student{
                width: 40vw;
            }
        }
    }
    .imagesSectionIndex{
        height: 80vh !important;
        .divImgInstructorIndex{
        
            height: 40vh;
        }
        .divImgStudents{
       
            height: 40vh;
        }
    }
}
/*--------550-------*/
@media only screen and (max-width: 550px) {
    .containerCursos{
        
        .Cursos{
            width: 80vw;
        }
    }
}
/*---------425-------*/

@media (max-width: 425px) {
    .contenedor{
       
        .tituloIndex{
            font-size: 3em;
            top: 33%;
            left: 40%;
        }   
        .tituloSubIndex{
            font-size: 3em;
            top: 65%;
            left: 40%;
        }
    }

    .containerCursos{
        
        .Cursos{
            width: 80vw;
        }
    }
    
    .imagesSectionIndex{
        height: 40vh !important;
        .divImgInstructorIndex{
            height: 24vh !important;
        }
        .divImgStudents{
            height: 24vh !important;
        }
    }
    

}

/*---------375-------*/
@media only screen and (max-width: 375px){
    .contenedor{
       
      
        .tituloSubIndex{
        
            top: 75%;
          
        }
    }
    
    
    header{
        .navBarra{
            .divNavResponsive{
               
                margin-left: 13vw;
            }
        }
    }
    .companiesDiv{
        .companiesImg{
           
            .logoCompany{
                width: 120px;
            }
        }
    }
}
/*---------320-------*/
@media only screen and (max-width: 320px){
    .subTitleCourses{
        width: 90% !important;
    }
    header {
        .navbar{
            .container{
                .logo{
                    margin-left: 20px; 
                    width: 50%; 
                    height: auto;
                }
                .ulNavBarra{
                    margin-left: 10px; 

                }
            }
        }
    } 
    
    .imagesSectionIndex{
        height: 35vh !important;
        .divImgInstructorIndex{
            height: 24vh !important;
        }
        .divImgStudents{
            height: 24vh !important;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    
}
/*---------768-----AND-------320-------*/

@media only screen and (max-width: 768px) and (min-width: 320px) {
    /*---------INDEX-----------------*/
    header {
        height:max-content;

        .navbar{
            .container{
                
                .navCollapse{
                .ulNavBarra {
                    .liNav{
                        padding-left: 5vw;
                        .aLinkNavBar{
                            height: 5vh;
                            
                            }
                        } 
                    }
                }
            }
        }
    } 
    main{
        .aboutUs{
            width: 100%;
            margin-top: 2vh;
            .descriptionAboutUs{
                width: 90%;
            }
            .imgAboutUs{
                width: 100%;
            }
        }
        .sectionIndex{
            width: 100%;
            .descriptionSectionIndex{
                text-align: center;
                margin-bottom: 5vh;
                .TitleSectionIndex{
                    font-size: 2rem;
                    margin-bottom: 2vh;
                }
                .textSectionIndex{
                    font-size: 1.2rem;
                    text-align: center;
                    width: 90%;
                    margin-left: 5%;
                }
            }
            .imagesSectionIndex{
                display: flex;
                flex-direction: column;
                .divImgInstructorIndex{
                    width: 100%;
             
                }
                .divImgStudents{
                    width: 100%;
                    text-align: center;
                }
            }

        }
        .companiesDiv{
            width: 90%;
            .sectionCompanies{
                .titleCompanies{
                    width: 100%;
                    text-align: center;
                    font-size: 2rem;
                    font-weight: 900;
                }
                .textCompanies{
                    text-align:center;
                    width: 100%;
                    font-size: 1.2rem;
                }
            }
            .companiesImg{
                margin: 3vh 3vw;
            }
        }
        .txtCourses{
            margin-top: 5vh;
            width: 90%;
            text-align: center;
            #titleCourses{
                margin-bottom: 20px;
                font-size: 3rem;
            }
        }
        .subTitleCourses{
            width: 75%;
        }
    }
    
    .moreInfo{
        text-align:justify;
       
    }

    
/*-----------INSTRUCTORS-------------*/
    .boxMain{
        width: 90%;
        color: #f1faee;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
        .subTitlteInstructor{
            width: 90%;
        }
        .instructorContainer{
            display: flex;
            flex-direction: column;
            color: #f1faee;
            border-top: solid;
            border-width: 1px;
            border-color: #f1faee;
            padding-top: 5vh;
            width: 100%;
        }
        .nameInstructors{
            margin:20px 0 20px 0;
            font-size: 1.3rem;
            padding-right: 10px;
        }
        .textInstructors{
            margin-bottom: 20px;
            padding-right: 10px;
        }
        .portfolio{
            margin-bottom: 20px;
            text-decoration: none;
        }
    }
    
.boxTxtForm{
    
    .txtForm{
        
        width: 90%;
    
    }
}

}


/*--------426-----AND------320-------*/
@media only screen and (max-width: 426px) and (min-width: 320px){
   
    /*----------CONTACT US-----------*/
    .containerForm{
        flex-direction: column;
    
        .classForm{
            .divInputs{
                display: flex;
                flex-direction: column;
                width: 100%;
                .inputs{
                    width: 90%;
                    margin-bottom: 20px;
                }
            }
            .textAreaContact{
                width: 90%;
            }
        }
        
    }   
    .sectionExperienceStudents{
        .divExperiencieStudents{
        
            .student{
                width: 90vw;
            }
        }
    }
    .containerVideos{
        width: 100vw;
        .divVideo{
         
            width: 90vw;
            iframe{
                height: 35vh;
            }
        }
     }
}
