/*---------ESTILOS RESPONSIVE-------*/

@media (max-width: 1024px) {
    .infoContact{
        margin-left: 5%;
    }
    .boxMain{
        width: 80%;
        .instructorContainer{
            grid-template-columns: 25vw 40vw;
            grid-template-rows: 5vh 20vh 5vh;
        }
    }
    header{
        nav{
            margin-left: 5vw;
        }
    }
    
  }
@media only screen and (max-width: 768px) and (min-width: 320px) {
    /*---------INDEX-----------------*/
   
    header{
        nav{
            margin-left: 50%;
            .ulNav{
                display: none;
            }
            .divNavResponsive{
                display:flex;
                justify-content: flex-end;
            }
        }
    }
    
    
    .btnMenu{
        background-color: #000;
        border: none;
    }
    .imgMenu{
        background-color: #000;
        width: 40px;
        height: 25px;
        .aboutUs{
            margin-top: 2vh;
        }
        .descriptionAboutUs{
            width: 90%;
        }
        .imgAboutUs{
            width: 100%;
        }
    }
    .sectionIndex{
        width: 90%;

        .descriptionSectionIndex{
            text-align: center;
            margin-bottom: 5vh;

            .TitleSectionIndex{
                font-size: 3rem;
                margin-bottom: 2vh;
            }
            .textSectionIndex{
                font-size: 1.5rem;
                text-align: left;
            }
        }
    }
    .txtCourses{
        margin-top: 5vh;
        width: 90%;
        text-align: center;
        #titleCourses{
            margin-bottom: 20px;
            font-size: 3rem;
        }
    }
    .subTitleCourses{
        width: 75%;
    }

    
/*-----------INSTRUCTORS-------------*/
    .boxMain{
        width: 90%;
        color: #f1faee;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
        .subTitlteInstructor{
            width: 90%;
        }
        .instructorContainer{
            display: flex;
            flex-direction: column;
            color: #f1faee;
            border-top: solid;
            border-width: 1px;
            border-color: #f1faee;
            padding-top: 5vh;
            width: 100%;
        }
        .nameInstructors{
            margin:20px 0 20px 0;
            font-size: 1.3rem;
            padding-right: 10px;
        }
        .textInstructors{
            margin-bottom: 20px;
            padding-right: 10px;
        }
        .portfolio{
            margin-bottom: 20px;
            text-decoration: none;
        }
    }
    
/*-----------CONTACT US-------------*/
}
@media (max-width: 768px) {
    .classForm{
        width: 100%;
        margin-left: 5%;
    }
    header{
        nav{
            margin-left: 50%;
        }
    }
}
@media (max-width: 425px) {
    .classForm{
        width: 100%;
        flex-direction: column;
        align-items: center;
        .divInputs{
            display: flex;
            flex-direction: column;
            width: 100%;

            .inputs{
                padding: 10px;
                width: 100%;
                margin: 20px;
            }
        }
        .textAreaContact{
            padding: 10px;
            width: 100%;
            margin-left: 10%;
        }
        .inputBtn{
            width: fit-content;
        }
    }
    .infoContact{
        width: 90%;
        margin-left: 10%;
    }
  
}
@media only screen and (max-width: 426px) and (min-width: 320px){
    header{
        nav{
            margin-left: 20vw;
        }
    }
}